HOST=0.0.0.0
PORT=1337
NODE_ENV=development

# Server
HOST=0.0.0.0
PORT=1337
NODE_ENV=development

# Secrets
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
JWT_SECRET=
TRANSFER_TOKEN_SALT=
ENCRYPTION_KEY=

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=strapiDB
DATABASE_PORT=5432
DATABASE_NAME=portfolio-site-local
DATABASE_USERNAME=george
DATABASE_PASSWORD=password
DATABASE_SSL=false
DATABASE_FILENAME=
